html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: pink;
}
.flex-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card:hover {
  background-color: #79394e;
  transform: scale(1.05);
  box-shadow: 1rem 1rem 0.5rem 0.2rem rgb(107, 0, 77);
  filter: blur(0);
  .cardtitle, .cardpara{
    background-color: palevioletred;
  }
}
.header {
  font-size: 17rem;
  text-align: center;
  margin: 3rem 5rem;
  font-family: "Fuggles", cursive;
  position: relative;
  animation: test 8s 1;
}
.h1{
    height: 10vh;
}
@keyframes test {
  0% {
    right: -15%;
  }
 50%{
    right: 15%;
 }
  100% {
    right: 0%;
  }
}
.cardtitle {
  font-size: 2rem;
}
.card {
  background-color: palevioletred;
  height: 50vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 0.5rem 0.2rem #e0a8;
  margin: 3rem 3rem;
  transition: all 0.4s;
  filter: blur(5px);
  object-fit: cover;
}
.cardimg {
  height: 50%;
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 20%;
}
.cardpara {
  font-size: 1.7rem;
  text-align: center;
}

@media screen and (max-width: 768px){
  .header{
    width: 100%
  }
  .flex-container{
    width: 40%
  }
  .cardimg{
    width: 40%
  }
}
@media screen and (max-width: 1280px){
  .header{
    width: 100%
  }
  .flex-container{
    width: 40%
  }
  .cardimg{
    width: 40%
  }
}
@media screen and (max-width: 1080px){
  .header{
    width: 100%
  }
  .flex-container{
    width: 40%
  }
  .cardimg{
    width: 40%
  }
}
